.container
    h2  Profile
    .card-body
        .form-group.row
            label.col-sm-2.col-form-label Name
            div.col-sm-10
                label.col-sm-10.col-form-label = current_user.name
        .form-group.row
            label.col-sm-2.col-form-label Email
            div.col-sm-10
                label.col-sm-10.col-form-label = current_user.email
        .form-group.row
            label.col-sm-2.col-form-label Password
            div.col-sm-10
               label.col-sm-10.col-form-label = link_to "Change Password", edit_password_users_path, class: "btn-pwd"                
        .form-group.row
            label.col-sm-2.col-form-label Phone
            div.col-sm-10
                label.col-sm-10.col-form-label = current_user.phone
        .form-group.row
            label.col-sm-2.col-form-label Address
            div.col-sm-10
                label.col-sm-10.col-form-label = current_user.address
        .form-group.row
            label.col-sm-2.col-form-label Birthday
            div.col-sm-10
                label.col-sm-10.col-form-label = current_user.birthday
        .form-group.row
            label.col-sm-2.col-form-label Type
            div.col-sm-10
                label.col-sm-10.col-form-label = current_user.super_user_flag == true ? "Super User" : "Normal User"

        = link_to "Edit Profile", edit_profile_users_path , class: "btn-submit"