= stylesheet_link_tag "post.css"
body
  h1[style="text-align: center"]
    | Posts
  .top   
    ul.navbar-nav.my-sm-0.filter
      li.nav-item
        .dropdown.show
          a#dropdownMenuLink.nav-link.dropdown-toggle[role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"]
            |  Filter By 
          .dropdown-menu[aria-labelledby="dropdownMenuLink"]
            = link_to "All Post", posts_path , class:"dropdown-item"
            = link_to "Own Post", filter_posts_path , class:"dropdown-item"
    = form_with class: "search", url: search_posts_path, method: :get do |form|
      .post-search
        = form.text_field :search_keyword, class: "form-control",placeholder: "search post", value: @last_search_keyword
    = link_to "Download", download_csv_posts_path(format: :csv), class:"btn-download"
    ul.navbar-nav.my-sm-0
      li.nav-item.button
        .dropdown.show
          a#dropdownMenuLink.nav-link.dropdown-toggle[role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"]
            |  Upload 
          .dropdown-menu[aria-labelledby="dropdownMenuLink"]
            = link_to "Write Post", new_post_posts_path, class:"dropdown-item"
            = link_to "Import CSV",upload_csv_posts_path, class:"dropdown-item"

  - if  @posts.empty?
    p[style="text-align:center"]
      |  No Post to show.
  - else
    - @posts.each do |post|
      div[data-aos="fade-up"]
        h2.header
          = post.title
          - if post.public_flag == true
            | 
            i.fa.fa-globe[style="font-size:24px;"]
          - else
            |  
            i.fa.fa-lock[style="font-size:24px;"]
          p[style="font-size:12px"]
            i.fa.fa-calendar
            = post.created_at.strftime("%Y/%m/%d " )
            |  [Posted By: 
            = post.user.name
            | ] 
        .content
          = truncate(post.description.html_safe, length:50)
          br
          = link_to "Show More >>", post_path(post), class: "show-more"
      br
.wrapper
  = will_paginate @posts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer
script
  |  AOS.init(); 